body {
  margin: 0;
  font-family:'Times New Roman', Times, serif;
}

.container {
  display: flex;
  min-height: 100vh;
}
.sidebar {
  width: 220px;
  background-color:cadetblue ;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar nav a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 15px 0;
  padding: 8px;
  border-radius: 4px;
}

.sidebar nav a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.main-content {
  flex: 1;
  padding: 20px;
  background: #f5f6fa;
}

.cards {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

@media (max-width: 768px) {

  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sidebar nav {
    display: flex;
    gap: 10px;
  }

  .sidebar nav a {
    margin: 0;
  }

  .cards {
    grid-template-columns: 1fr;
  }
}
